@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.welcome-section div{
    width: 50%;
}
.welcome-section h1{
    font-family: 'Dongle', sans-serif;
    line-height: 45px;
    margin-bottom: 15px;
}
.welcome-section h1 span:nth-child(2){
    font-family: 'Pacifico', cursive;
    font-size: 38px;
}
.welcome-section p{
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
}
.welcome-section img{
    width: 500px;
    z-index: 1000;
}
.welcome-img{
    position: relative;
    background-image: url('../../../public/bg.png');
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center;
}
.go-to-store{
    background-color: #FFBA43;
    padding: 12px 30px 7px;
    margin: 20px 0;
    color: #3BB67E;
    font-weight: 700;
    font-family: 'Dongle', sans-serif;
    font-size: 27px;
}
.go-to-store:hover{
    background-color: #3BB67E;
    color: #fff;
    transition: 0.5s;
}
.benefits{
    background-color: #f6b84dc6;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
    margin: -70px 20px 0;
    padding: 20px;
}
.benefits h3{
    color: white;
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    font-weight: 800;
    margin-top: 10px;
    position: absolute;
    right: 10px;
}
.benefits div{
    border-left: 5px solid #FFBA43;
    height: 100px;
    background-color: #3BB67E;
    padding: 15px;
    position: relative;
    margin-top: 10px;
    border-left: 5px solid white;
    border-right: 5px solid white;
    box-shadow: 8px 8px 15px #f5f7d7a4;
}
.benefits div:hover .icon{
    background-color: #3BB67E;
    border: 3px solid #FFBA43;
    transition: 0.5s;
    transform: scale(0.8);
}
.icon{
    width: 70px;
    height: 70px;
    background-color: #FFBA43;
    color: #fff;
    padding: 5px;
    border-radius: 50%;
}
.categories div{
    border: 3px solid #3BB67E;
    padding: 15px;
    box-shadow: 8px 8px 15px #f5f7d7a4;
    width: 320px;
    position: relative;
    height: 300px;
    overflow: hidden;
    margin: 0 auto;
    width: 320px;
}
.categories div img{
    width: 230px;
    height: 190px;
    position: absolute;
    bottom: 0px;
    right: -70px;
}
.categories div:hover img{
    bottom: 0px;
    right: -40px;
    transition: 0.7s;
    transform: scale(1.1);
}
.categories div h1{
    z-index: 1;
    font-family: 'Dancing Script', cursive;
    font-size: 45px;
}
.categories div h1 span{
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    color: #FFBA43;
    font-weight: 700;
}
.categories div p{
    font-family: 'Sail', cursive;
    font-size: 20px;
    color: #3BB67E;
}

@media screen and (min-width:0px)  and (max-width:1000px) {
    .welcome-section{
        display: flex;
        flex-direction: column;
    }
    .welcome-section div{
        width: 100%;
    }
    .welcome-text{
        order: 2;
    }
    .welcome-img{
        order: 1;
    }
    .benefits{
        background-color: #95f5ca;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
    .categories{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}