.header{
    width: 100%;
    /* position: fixed; */
}
nav{
    display: flex;
    gap: 25px;
    color: #3BB67E;
    font-size: 18px;
    margin: auto 0;
    font-weight: 600;
    right: 0;
}
@media screen and (min-width:0px)  and (max-width:1000px) {
    nav{
        flex-direction: column;
    }
    .menu-icon{
        left: 90%;
    }
}